<!DOCTYPE html>
<html lang="en">
 <head>
    <title>{{ title }}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">

    <link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">

    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css">
    <link rel="stylesheet" href="/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/assets/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>

  <body>
   {{{ body }}}

  <!-- JS Global Compulsory -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/tether.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- JS Unify -->
    <script src="/assets/js/hs.core.js"></script>
    <script src="/assets/js/components/hs.header.js"></script>
    <script src="/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/assets/js/components/hs.dropdown.js"></script>
    <script src="/assets/js/components/hs.scrollbar.js"></script>
    <script src="/assets/js/components/hs.popup.js"></script>
    <script src="/assets/js/components/hs.carousel.js"></script>

    <!-- JS Custom -->
    <script src="/assets/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
       <script>
   
              
    (function() {
          var element = function(id){
              return document.getElementById(id);
          }
          
          //get elements
          var mod = element('moderator');
            var discname = element('discname');
         var disclist = element('disclist');
          var status = element('status');
            var addBtn = element('addBtn');

          
      /*    //set default status
          var statusDefault = status.textContent;
          var setStatus = function(s){
              // Set Status
              status.textContent = s;
              
              if(s !== statusDefault) {
                 var delay = setTimeout(function(){
                     setStatus(statusDefault);
                 }, 4000);
                 }
              
          } */
          
          // Connect to socket.io
          var socket = io.connect('http://127.0.0.1:3005');
        
          //check for connection
          if(socket !== undefined) {
             console.log('Connected to socket...');
              
              
              //OUTPUT Handler          
           socket.on('output', function(data){
          // console.log(data); 
          if(data.length){
                   for(var x = 0;x < data.length;x++){
                       //build out message div
                       var discussion = document.createElement('li');
             
                       var mediah5 = document.createElement('div');
                       var flexdiv = document.createElement('div');
                       var discicon = document.createElement('i');
                       var disclink = document.createElement('a');
                       var mediabody = document.createElement('div');
                       var discnamep = document.createElement('p');
                       
                       
                       discussion.setAttribute('class','g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1 g-bg-white g-mb-15');
                       
                       mediah5.setAttribute('class','media h5');
                       
                       flexdiv.setAttribute('class','d-flex g-mt-2 g-mr-15');
                       
                       discicon.setAttribute('class','fa fa-comments g-color-teal');
                       
                        mediabody.setAttribute('class','media-body');
                       
                       discnamep.setAttribute('class','g-color-gray-dark-v4 g-font-weight-700 g-mb-0');
                       
                       disclink.setAttribute('href', '/discussions/id');
                       
                       
                       
                       
                       
                       discnamep.textContent = data[x].name;
                       
                       mediabody.appendChild(discnamep);
                       
                       disclink.appendChild(mediabody);          
                       
                       flexdiv.appendChild(discicon);
                               mediah5.appendChild(flexdiv);
                       
                       mediah5.appendChild(disclink);
                       
               
                       
                       discussion.appendChild(mediah5);
                       
                       disclist.appendChild(discussion);
                       
                       disclist.insertBefore(discussion, disclist.firstchild);
                   }
               } 
           });
              
          /*    // GET Status from server
              socket.on('status', function(data){
                  //get disc status
                  setStatus((typeof data === 'object')? data.message : data);
                  
                  // if status is clear, clear text
                  if(data.clear) {
                     textarea.value = '';
                     }
                  
              }); */
              
              // Handle Delete
              delBtn.addEventListener('click', function(){
                 socket.emit('clear'); 
              });
              
              //clearDisc
              socket.on('cleared', function(){
                  disclist.textContent ='';
              });
              
       
             }
      
      })();
        
      </script>

    <!-- JS Plugins Init. -->
    
 
    <script>
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        $('#we-provide').slick('setOption', 'responsive', [{
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1
          }
        }], true);

    

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));


      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
      });
      });
    </script>
  </body>
</html>