      
          
<!-- Location Info -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_4--after" style="height: 110%; background-image: url('assets/img/logo/qandabg.jpg'); transform: translate3d(0px, -246px, 0px);"></div>
  <!-- End Parallax Image -->

  <div class="container text-center g-color-white g-py-200--md g-py-80">
    <h2 class="text-uppercase g-font-weight-700 g-mb-20 h2">Discussions near <span class="g-color-primary g-ml-10 g-font-weight-700 h1 city">{{ location }}</span></h2>



  </div>
  
  
</section>



                <div class="container main">
<ul class="list-unstyled g-mt-50" id="disclist">

  
</ul>
                </div>
              
